:root {
  --primary-color: #00c3ff;
  --secondary--color: #1600d6;
  --tertiary-color: #775dcd;
  --background-color: #505050;
  --font-color: #f6f2f2; 
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--background-color);
  color: var(--font-color);
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color);
  border-bottom: 1px solid var(--secondary--color);
}

.menu {
  display: flex;
  list-style: none;
  outline: none;
}

.menu li {
  margin-right: 20px;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.menu li:hover {
  background-color: var(--tertiary-color) ;
  scale: 1.1;
}

.menu a {
  text-decoration: none;
  color: var(--font-color);

}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}

.custom-button {
  cursor: pointer;
  border: 1px solid var(--secondary--color);
  border-radius: 10px;
  padding: 10px;
  color: var(--font-color);
  background-color: var(--primary-color);
  transition: all 0.3s ease-in-out;
  font-weight: bold;
  letter-spacing: 2px;
  outline: none;

}

.custom-button:hover {
  background-color: var(--background-color);
  scale: 1.1;
  outline: none;
}

.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}

.movie-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary--color);
  border-radius: 10px;
  transition: 0.5s ease-in-out;
}

.movie-container:hover {
  background-color: var(--tertiary-color);
  scale: 1.01;
  outline: none;
}

.movie-container h3 {
  text-align: center;
}

.movie-container img {
  border-radius: 5px;
}

.content {
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

/* Contact.css */

.contact {
  width: 100vw; 
  height: 100vh; 
  margin: 0;
  padding: 0;

}

.contact h1 {
  font-size: 54px;
  color:rgba(0, 153, 255, 0.768);
  margin-bottom: 10px; 
  text-align: center;
}

.contact p {
  font-size: 16px;
  color:white;
  margin-bottom: 20px; 
  text-align: center;
}

.contact address {
  font-size: 14px;
  color: #777;
}

.contact a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s;
}

.contact a:hover {
  color: #0056b3;
}
.contact strong {
  font-weight: bold;
  text-align: center;
}

.DetailsStyle h1
{
  text-align: center;
  font-size: 45px;
  color:black;
  
}



.DetailsStyle img
 {
 
  width: 25%;
  height: 25%;
  border-radius: 10px;
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
 }

 .DetailsStyle p
 {
  font-size: 20px;
  color: white;
  margin-bottom: 20px;
  text-align: center;
  border:solid 2.5px white;
 }

 .log
 {
   text-align:center;
   font-size: 25px;
   color: white;
   margin-bottom: 20px;
   border:solid 2.5px white;
   padding: 0;  
 }



 

label
{
  font-weight: bold;
  color: #333;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: var(--primary-color);
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #b79726;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box a:hover {
  background: var(--secondary--color);
  color: #fff;
  border-radius: 5px;
 
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #f4c003);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #f4bc03);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #f4dc03);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #f4b003);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #333;
}

.register-form {
  width: 300px;
  padding: 40px;
  position: relative;
  background:rgba(0,0,0,.5);
  text-align: center;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.register-form h1 {
  margin: 0 0 20px;
  font-weight: 400;
}

.input-group {
  position: relative;
  margin-bottom: 30px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  background: rgba(0,0,0,.5);
  border: none;
  outline: none;
  color: white;
  font-size: 18px;
  font-weight: 400;
  border-bottom: 2px solid #333;
  transition: border-bottom 0.2s ease;
}

.input-group input:focus,
.input-group input:valid {
  border-bottom: 2px solid #5fbae9;
}

.input-group label {
  position: absolute;
  top: 12px;
  left: 10px;
  font-size: 16px;
  color: #333;
  font-weight: 400;
  transition: all 0.5s ease;
}

.input-group input:focus + label,
.input-group input:valid + label {
  top: -8px;
  left: 10px;
  font-size: 12px;
  color: #5fbae9;
}

.register-form button {
  width: 100%;
  padding: 10px;
  background: #5fbae9;
  border: none;
  outline: none;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.register-form button:hover {
  background: #4a8dd8;
}

 button {
  display: block;
  padding: 12px 20px;
  background-color: #5fbae9;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
  outline: none;
 
  
}

 button:hover {
  background-color: #4a8dd8;
  transform: scale(1.05);
  outline: none;
}

button:active {
  background-color: #3e7cb6;
  transform: scale(0.95);
  outline: none;
}

.username
{
  color: white;
  font-size: 15px;
  margin-bottom: 16px;
  text-align: center;
  border:solid 2.5px white;
  padding: 0; 
  color: white;; 
}

footer {
  padding: 20px 0;
  background-color: var(--primary-color);
  border-top: 2px solid var(--secondary--color);
  text-align: center;
  color: wheat;

}

footer
{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.movie-button-link {
  text-decoration: none;
}

.row-item {
  display: flex;
  gap: 5px
}


.form_buy img
{
  width: 25%;
  height: 25%;
  border-radius: 10px;
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
  text-align: center;
  border:solid 2.5px white;
  padding: 0;  

}

.form_buy
{
  
  margin: center;

  text-align: center;
}

.form_buy input
{
  width: 50%;
  padding: 10px;
  background: rgba(0,0,0,.5);
  color: white;
  font-size: 18px;
  font-weight: 400;
  border-bottom: 2px solid #333;
  transition: border-bottom 0.2s ease;
  margin: right ;
}
.tickets-table-container {
  width: 100%;
  max-width: 600px; /* Adjust the max-width as needed */
  margin: 0 auto;
}

.tickets-table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.tickets-table thead {
  background-color: rgba(0,0,0,.5);
}

.tickets-table th,
.tickets-table td {
  padding: 8px;
  border: 1px solid rgba(0,0,0,.5); 
  color:white;
  text-align: center;
  
}

.tickets-table th {
  font-weight: bold;
}

.ticket-number-cell {
  width: 40%; 
  color: #f4bc03;
  background-color:rgba(0,0,0,.5);
}


.Select {
  width: 100%;
  height: 15px;;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid #ccc;

}


.tickets-table select {
  width: 100%;
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,.5);
}

.time_form {
  /* Center the form in the middle of the page or container */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}


.time_form select {
  width: 100%;
  max-width: 300px; 
  padding: 10px 15px;
  font-size: 16px; 
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  
  background-color: white;
  cursor: pointer;
  position: relative; 
}


.time_form select {
  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 4 5"><path fill="rgba(0, 0, 0, 0.6)" d="M2 0L0 2h4zm0 5L0 3h4z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 12px 12px;
}


.time_form select:hover {
  border-color: #888;
  background-color: #f8f8f8;
}


.time_form select:focus {
  outline: none;
  border: 1px solid #007bff;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
}


.time_form option {
  padding: 10px;
  background-color:  white;
}

/* Styl dla kontenera z ilością biletów */
.count_ticket {
  /* Wyśrodkowanie zawartości */


  align-items: center;
  
  padding: 10px;
  font-size: 18px;
  font-weight: 400;
  margin: 10px;
  color: wheat; /* Czarny kolor tekstu */
  

}

.count_ticket select
{
  width: 100%;
max-width: 300px; 
padding: 10px 15px;
font-size: 16px;
border-color:  wheat;
}

