:root {
  --primary-color: #00c3ff;
  --secondary--color: #1600d6;
  --tertiary-color: #775dcd;
  --background-color: #505050;
  --font-color: #f6f2f2; 
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--background-color);
  color: var(--font-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color);
  border-bottom: 1px solid var(--secondary--color);
}

.menu {
  display: flex;
  list-style: none;
}

.menu li {
  margin-right: 20px;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.menu li:hover {
  background-color: var(--tertiary-color) ;
  scale: 1.1;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}